<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new task
    </h1>

    <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter list name...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/" >Cancel</button>
      <button class="button is-primary has-text-white is-medium"  (click)="createTask(taskTitleInput.value)">Create</button>
    </div>


  </div>
</div>
