<div class="centered-content">

  <div class="task-manager-container">

    <!-- SIDEBAR -->
    <div class="sidebar has-background-white">

      <h1 class="title has-text-primary">
        Lists
      </h1>

      <div class="list-menu">
        <!-- <a class="list-menu-item is-active">
          <p> Sample1 </p>
        </a> -->

        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
          <p> {{ list.title }} </p>
        </a>

      </div>

      <button class="button is-primary has-text-white" routerLink="/new-list" >+ New List</button>
    </div>

    <!-- TASK-LIST  -->
    <div class="task-list-container has-background-light">
      <div *ngIf="tasks">
        <div class="top-bar">
          <h1 class="title has-text-primary">
            Tasks
          </h1>
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                  Edit
                </a>
                <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>


         <!-- Task Elements -->
        <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">

            <div class="task-text">
              <p> {{ task.title }} </p>
            </div>
            <div class="task-buttons">

              <button [routerLink]="['/lists', selectedListId, 'edit-task', task._id]" class="button">
                <div class="icon">
                  <i class="fas fa-edit"></i>
                </div>
              </button>

              <button (click)="onDeleteTaskClick(task._id)" class="button is-danger" style="margin-left: 10px;">
                <div class="icon">
                  <i class="fas fa-trash"></i>
                </div>
              </button>

            </div>
        </div>

        <h3 *ngIf="tasks.length === 0" class="empty-state-text">There are no tasks here! Click the add button to create a new task.</h3>

        <button routerLink="./new-task" class="circle-add-button button is-primary">
          <img src="../../../assets/plus-icon.svg" class="has-text-white">
        </button>

      </div>

      <div *ngIf="!tasks">
        <h3 class="empty-state-text">Please select a list from the sidebar</h3>
      </div>

    </div>
  </div>
</div>
